{{extend 'layout.html'}}
<body>

<h1><center>Video Posts</center></h1>
<br>
<h4>TO POST: go to desired video on YouTube. Click share below the video.</h4>
<h4>Copy and paste the link beginning with "//www.youtube.com..."</h4>

{{=video_form}}


<table width='100%'>
    {{for video in videos:}}
    <tr>
        <td><h5><center><b><i><u>{{=video.title.title()}}</u></i></b></center></h5></td>
    </tr>
	
    <tr>     
        <td><center><u><iframe width="420" height="315" src="{{=video.url_str}}" frameborder="0" allowfullscreen></iframe></u></center></td>
    </tr>
  
    {{if len(d[video.id]):}}
        <tr>
        <td>
            <table width='100%'>
            {{for t in d[video.id]:}}
                        <tr>
                            <td><center><b>{{=("%s says, '%s'")%(t[0],t[1])}}</b></center></td>
                        </tr>
                    {{pass}}
            </table>
            
           <table width='95%'>
                <tr>
                    <form enctype="multipart/form-data" action="{{=URL('insert_video_comment',args=(video.id))}}" method="post"> 
                        <td style="white-space:nowrap" cellspan=2><center><input name="video_comment" type="text">
                        <input formmethod="post" name="commentform" type="submit" width="150"></center></td>
                    </form>
                </tr>
            </table>
         
     
    {{else:}}    
            <tr>
            <td>
              <table width='95%'>
                  <tr><td><center><h4>Be the first to post a comment!</h4></center></td></tr>
               <tr>
                    <form enctype="multipart/form-data" action="{{=URL('insert_video_comment',args=(video.id))}}" method="post"> 
                        <td style="white-space:nowrap" cellspan=2><center><input name="video_comment" type="text">
                        <input formmethod="post" name="commentform" type="submit" width="150"></center></td>
                    </form>
                </tr>
                    
              </table>
                </td>
            </tr>
       </td>
       </tr>
   
    {{pass}}
{{pass}}
</table>
</body>
