body {
	padding-top: 5%;
	background-color: #C2EAFD;
	font-family: 'Open Sans', sans-serif;
}

.form {
	margin-top: 10%;
	background-color: #F3FBFE;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
}

/* Menu Bar */
.navbar {
    background-color: #F3FBFE;
    padding-right: 3%;
    max-width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.navbar ul li a:hover {
    color: black;
}

.img-responsive {
	border-radius: 50%;
}